gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your PRODUCTION keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.jks

# Un-ignore debug.keystore so the team can share it for Google Sign-in to work
!app/debug.keystore
